html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.btns {
  height: 95%;
  border: 2px solid #b4ab5dff;
  margin: 1rem;
}

div.inner_border {
  height: 98%;
  display: grid;
  grid-template-rows: 20% 80%;
  flex-direction: column;
  align-items: center;
  border: 2px solid #b4ab5dff;
  margin: 0.2rem;
  position: relative; /* Make the div a containing block for the pseudo-element */
  overflow: hidden; /* Optional, ensures the pseudo-element stays within the border */
}

div.inner_border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/maleficent_shadow.svg);
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: bottom;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, top 1s ease-in-out;
  z-index: 0;
}

div.inner_border.fade_background::before {
  top: 100%;
}

div.inner_border.fade_background img {
  bottom: 100%;
}

div.inner_border.fade_background::before,
div.inner_border.fade_background img.menu_title,
div.inner_border.fade_background ul li.initial_btn {
  opacity: 0;
}

/* div.inner_border.fade_background {
  gap: 1rem 0;
} */

div.background {
  height: 100%;
  background-image: url("./assets/plain_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
}

img.menu_title {
  width: 95%;
  margin-top: 3.5rem;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, bottom 2s ease-in-out;
  position: relative;
  bottom: 0;
  justify-self: center;
}

ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  z-index: 1;
}

ul li {
  list-style-type: none;
  padding: 1rem 1.5rem;
  background-color: #2e4f2c;
  border: 1px solid #b4ab5dff;
  color: #b4ab5dff;
  border-radius: 24px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

div.profile_container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 15% 30% 15%;
  overflow: hidden;
  gap: 1%;
}

div.board_grid {
  display: grid;
  grid-template-columns: 18% 20.5% 20.5% 20.5% 20.5%;
  width: 95%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

div.board_grid:nth-child(2) {
  border: 1px solid #b4ab5dff;
}

div.board_grid:nth-child(3) {
  align-content: center;
}

div.board_grid:not(:nth-child(-n + 3)) {
  display: none;
}

div.board_grid:nth-child(2) {
  background-color: #aa5926;
  background-image: url("images/background_art/texture.jpg"); /* Texture image */
  background-size: cover; /* Adjust texture size */
  background-repeat: no-repeat; /* Prevent tiling */
  background-blend-mode: multiply; /* Blend texture with color */
  background-position: center;
}

p.profile_name {
  color: #b4ab5dff;
  border-right: 1px solid #b4ab5dff;
  margin: 0;
  height: 100%;
  align-content: center;
}

div.board_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.board_background {
  width: 93%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img.board_background_img {
  width: 100%;
  object-fit: cover;
  margin: 0.7rem 0 0;
  border: 1px solid #b4ab5dff;
  border-radius: 6px;
}

p.location_text {
  color: #b4ab5dff;
  margin: 0;
  font-size: 0.7rem;
  margin: 0.4rem auto 0;
}

@media screen and (min-width: 460px) {
  img.menu_title {
    width: 70%;
    margin-top: 4rem;
  }

  ul {
    flex-direction: row;
  }

  div.profile_container {
    grid-template-rows: 15% 31% 15%;
  }
}

@media screen and (min-width: 540px) {
  div.profile_container {
    grid-template-rows: 15% 36% 15%;
  }
}

@media screen and (min-width: 640px) {
  img.menu_title {
    width: 60%;
    margin-top: 4rem;
  }
  
  div.profile_container {
    grid-template-rows: 15% 40% 15%;
  }
}

@media screen and (min-width: 730px) {
  div.profile_container {
    grid-template-rows: 15% 45% 15%;
  }
}

@media screen and (min-width: 835px) {
  img.menu_title {
    width: 50%;
    margin-top: 4rem;
  }
  
  div.profile_container {
    grid-template-rows: 15% 52% 15%;
  }
}

@media screen and (min-width: 1000px) {
  img.menu_title {
    width: 40%;
    margin-top: 4rem;
  }
  
  div.profile_container {
    grid-template-rows: 15% 59% 15%;
  }
}

@media screen and (min-width: 1200px) {
  img.menu_title {
    width: 35%;
    margin-top: 4rem;
  }
  
  div.profile_container {
    grid-template-rows: 14% 70% 14%;
  }
}
